@font-face {
    font-family:"Roboto";
    src: url("../fonts/roboto.woff2") format("woff2"),
        url("../fonts/roboto.woff") format("woff");
    font-style:normal;
    font-weight:normal;
}

@font-face {
    font-family:"Roboto";
    src: url("../fonts/robotomedium.woff2") format("woff2"),
        url("../fonts/robotomedium.woff") format("woff");
    font-style:normal;
    font-weight:bold;
}

body{
    font-family: Roboto, sans-serif;
    font-weight: normal;
    margin: 0;
    padding: 0;
    min-width: 920px;
}

body::before {
    
    background:  url("../images/slider-1.png"),
        url("../images/slider-2.png"),
        url("../images/slider-3.png");
    content: "";
    display: block;
    width: 0;
    height: 0;
}

body.catalog .catalog-link span {
    border-bottom: 2px solid #fb565a;
}

body.studio .studio-link span {
    border-bottom: 2px solid #fb565a;

}

.index-header {
    min-width: 920px;
}



.button {
    display: block;
    height: 38px; 
    text-decoration: none;
    color: white;
    box-sizing: border-box;
    text-align: center;
    border-radius: 3px;
}

.button:visited {
    color:white;
}

.button span {
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    width: inherit;
}

ul {
   margin: 0; 
}

.index-header {
    font-weight: bold;
    background-color: #eeeeee;
    margin-bottom: 80px;
}

.index-container {
    width: 880px;
    margin-right:auto;
    margin-left: auto;
    padding-left:20px;
    padding-right: 20px;
}

.clearfix::after {
    clear:both;
    content: "";
    display: table;
}

.header-menu-logo {
    font-size: 14px;
    line-height: 30px;
}

.header-cart-link {
    text-decoration: none;
    color: black;
}

.header-cart-link:visited {
    text-decoration: none;
    color: black;
}

.header-cart-link:hover {
    text-decoration: none;
    color: #fb565a;
}

.header-cart-link:active {
    color: #afafaf;
}


.header-cart-link:hover .icon-basket {
    color: #fb565a;
}

.header-cart-link:active .icon-basket {
    color: #afafaf;
}

.header-menu,.header-cart {
    box-sizing: content-box;
    
    margin: 0;
}

.header-logo {
    display: block;
    float: left;
    padding-top: 25px;
    padding-bottom: 70px;
}

.header-menu {
    display: block;
    float: right;
        text-transform: uppercase;
    

}



.header-cart {
    display: block;
    float: right;
    padding-left: 70px;
    padding-top: 45px;
    padding-bottom: 45px;
}

.header-menu-item {
    float: left;
    list-style: none;
    padding-left: 22px;
    padding-right: 22px;
    padding-top: 45px;
    padding-bottom: 45px;
    line-height: 30px;
    font-size: 14px;

}

.header-menu a {
    text-decoration: none;
    color:black;
}


.header-menu a:visited {
    color:black;
}

.header-menu a:hover {
    color: #fb565a;
}

.header-menu a:active {
    color:#afafaf;
}

.nerds-logo {
    background-image: url(../images/nerds-logo.png);
    width: 139px;
    height: 56px;
    background-repeat: no-repeat;
}

.index-slider {
    position: relative;
}

.index-slider-slide-left {
    width: 500px;
    float:left;
}

.index-slider-slide-right {
    float: right;
}

.index-slider-slide {
    display: none;
/*    visibility: hidden;*/
    transition: opacity 0.5s ease;
    opacity: 0;
}

.slider-opacity{
    transition: opacity 0.5s ease;
    opacity: 1;
}

.index-slider-heading {
    font-size: 36px;
    width:500px;
    margin: 0;
    line-height: 36px;
    padding-bottom: 27px;
}

/*
.index-slider-slide-right {
    position: absolute;
    bottom: 0;
    right:0;
}
*/

.index-slider-slide:first-child .index-slider-heading {
    width:400px;
}

.index-slider-slide:nth-child(3) .slider-img, .index-slider-slide:nth-child(2) .slider-img, .index-slider-slide:nth-child(1) .slider-img {
    background-image: url(../images/spritebox-sprite.png);
  background-repeat: no-repeat
}

.index-slider-slide:nth-child(3) .slider-img {
  background-position: -0px -0px;
  height: 318.5px;
  width: 332.5px;
    position: absolute;
    right: 0;
    bottom:0;
}

.index-slider-slide:nth-child(2) .slider-img {
    background-position: -333px -0px;
    height: 249px;
    width: 230px;
}

.index-slider-slide:nth-child(1) .slider-img {
  background-position: -0px -319px;
  height: 231px;
  width: 338px;
}

.slider-button {
    background-color: #fb565a;
    width: 240px;
    margin-bottom: 80px;
    box-sizing: border-box;
}

.slider-button:hover {
    background-color: #d6494d;
}

.slider-button:active {
    background-color: #b63538;
    border-top: 2px solid #9b2d30;
}

.index-slider-text {
    margin: 0;
    font-size: 16px;
    line-height: 22px;
    padding-bottom: 27px;
}

.slider-dots {
    position: absolute;
    bottom: 99px;
    left: 50%;
    height: 10px;
    width: 48px;
    margin-left: -24px;
    margin-bottom: -5px;
    font-size:0;
}

.dot {
    
    cursor: pointer;
    height: 10px;
    width: 10px;
    display: block;
    border-radius: 50%;
    background-color: white;
    margin: 0;
    padding: 0;
    position: relative;
    float: left;
}

.dot-active::after {
    
    text-align: center;
    content: "";
    height: 4px;
    width: 4px;
    display: inline-block;
    border-radius: 50%;
    background-color: #c1c1c1;
    position: absolute;
    top:3.5px;
    left:3.5px;
    
}

.dot:nth-child(1) {
    margin-right: 9px;
}

.dot:nth-child(2) {
    margin-right: 9px;
}

.index-main-example:nth-child(1) .index-main-example-picture, .index-main-example:nth-child(2) .index-main-example-picture, .index-main-example:nth-child(3) .index-main-example-picture {
  display: block;
  background-image: url(../images/examples.png);
  background-repeat: no-repeat
}

.index-main-example:nth-child(1) .index-main-example-picture {
  background-position: -0px -0px;
  height: 124px;
  width: 240px
}

.index-main-example:nth-child(2) .index-main-example-picture {
  background-position: -240px -0px;
  height: 124px;
  width: 240px
}

.index-main-example:nth-child(3) .index-main-example-picture {
  background-position: -0px -124px;
  height: 124px;
  width: 240px
}

.index-main-examples {
    font-weight: bold;
    border-bottom: solid 2px #eeeeee;
}

.index-main-example {
    float:left;
    width: 240px;
}

.index-main-example:nth-child(1) {
    margin-right: 80px;
}

.index-main-example:nth-child(2) {
    margin-right: 80px;
}

.index-main-example-picture {
    margin-bottom: 24px;
}

.index-main-example-heading {
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 20px;
}

.index-main-example-text {
    font-size: 15px;
    line-height: 22px;
    margin: 0;
    margin-bottom: 26px;
}

.index-example-button {
    width: 140px;
    margin-bottom: 80px;
}

.index-main-example:nth-child(1) .index-example-button {
    background-color: #fb565a;
    box-sizing: border-box;
}

.index-main-example:nth-child(1) .index-example-button:hover {
    background-color: #d6494d;
}

.index-main-example:nth-child(1) .index-example-button:active {
    background-color: #b63538;
    border-top: 2px solid #9b2d30;
}

.index-main-example:nth-child(2) .index-example-button {
    background-color: #00ca74;
    box-sizing: border-box;
}

.index-main-example:nth-child(2) .index-example-button:hover {
    background-color: #01a25e;
}

.index-main-example:nth-child(2) .index-example-button:active {
    background-color: #009053;
    border-top: 2px solid #007b47;
}

.index-main-example:nth-child(3) .index-example-button {
    background-color: #efc84a;
    box-sizing: border-box;
}

.index-main-example:nth-child(3) .index-example-button:hover {
    background-color: #d6ae2c;
}

.index-main-example:nth-child(3) .index-example-button:active {
    background-color: #c09b24;
    border-top: 2px solid #a3841f;
}

.index-main-about {
    font-weight: bold;
    position: relative;
    border-bottom: solid 2px #eeeeee;
}

.index-main-about-left {
    float: left;
    margin-top: 65px;
    width:570px;
    
}


.index-main-about-right {
    float: right;
    margin-top: 55px;
    width:240px;
    
}

.index-about-heading {
    line-height: 36px;
    font-size: 36px;
    margin-bottom: 25px;
}

.index-about-text {
    line-height: 22px;
    font-size:16px;
    margin-bottom: 270px;
}

.index-about-types {
    position: absolute;
    left:0;
    bottom: 72px;
}

.index-about-types-heading {
    text-transform: uppercase;
    margin-bottom: 24px;
}

.index-about-types ul {
    list-style: none;
    padding-left: 35px;
    
}

.index-about-type {
    position: relative;
    margin-bottom: 24px;
}

.index-about-type::before {
    content: "";
    display: block;
    background-color: #fb565a;
    height: 2px;
    width: 25px;
    position: absolute;
    left: -35px;
    top: 9px;
}

.index-main-about-logo-img {
    background-image: url(../images/nerds-logo-about.png);
    background-repeat: no-repeat;
    width: 187px;
    height: 75px;
    margin-bottom: 30px;
    margin-right: auto;
    margin-left: auto;
}

.index-main-about-underlogo {
    text-transform: uppercase;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    position: relative;
    margin-bottom: 75px;
}

.index-main-about-underlogo::before {
    display:block;
    content: "";
    width:65px;
    height: 2px;
    background-color: #eeeeee;
    position: absolute;
    top:7px;
    left:0;
}

.index-main-about-underlogo::after {
    display:block;
    content: "";
    width:65px;
    height: 2px;
    background-color: #eeeeee;
    position: absolute;
    top:7px;
    right:0;
}

.index-how-we-work {
    position: absolute;
    bottom: 72px;
    left: 640px;
}

.index-how-we-work-heading {
    text-transform: uppercase;
    margin-bottom: 24px;
}

.index-how-we-work ul {
    list-style: none;
    padding-left: 35px;
    
}

.index-how-we-work-item {
    position: relative;
    margin-bottom: 24px;
}

.index-how-we-work-item::before {
    content: "";
    display: block;
    background-color: #fb565a;
    height: 2px;
    width: 25px;
    position: absolute;
    left: -35px;
    top: 9px;
}

.index-main-partners {
    font-size: 0;
    height: 165px;
    border-bottom: solid 2px #eeeeee;
    margin-bottom: 85px;
}

/*
.index-main-partner {
    height: 165px;
}
*/

/*
.index-main-partners a:nth-child(3) .index-main-partner, .index-main-partners a:nth-child(2) .index-main-partner, .index-main-partners a:nth-child(1) .index-main-partner {
  display: inline-block;
  background-image: url(../images/partners.png);
  background-repeat: no-repeat
}

.index-main-partners a:nth-child(3) .index-main-partner {
  background-position: -0px -0px;
  height: 86px;
  width: 209px;
    margin: 39px 0px;
}

.index-main-partners a:nth-child(2) .index-main-partner {
  background-position: -0px -86px;
  height: 68px;
  width: 199px;
    margin: 48px 120px;
}

.index-main-partners a:nth-child(1) .index-main-partner:hover {
  background-position: -0px -154px;
  height: 37px;
  width: 198px;
    margin: 63px 10px;

}
*/

/*
.index-main-partners a:nth-child(3) .index-main-partner:hover, .index-main-partners a:nth-child(3) .index-main-partner, .index-main-partners a:nth-child(2) .index-main-partner, .index-main-partners a:nth-child(2) .index-main-partner:hover, .index-main-partners a:nth-child(1) .index-main-partner, .index-main-partners a:nth-child(1) .index-main-partner:hover {
  display: inline-block;
  background-image: url(../images/partners.png);
  background-repeat: no-repeat
}



.index-main-partners a:nth-child(3) .index-main-partner {
  background-position: -0px -0px;
  height: 86px;
  width: 208px;
    margin: 39px 0px;
    opacity: 0.2;
}

.index-main-partners a:nth-child(3) .index-main-partner:hover {
  
    transition: 0.4s ease;
    opacity: 1;
}

.index-main-partners a:nth-child(2) .index-main-partner {
  background-position: -209px -0px;
  height: 67.5px;
  width: 199px;
    margin: 48px 120px;
}

.index-main-partners a:nth-child(2) .index-main-partner:hover {
  background-position: -209px -68px;
  height: 67.5px;
  width: 199px;
    margin: 48px 120px;
}

.index-main-partners a:nth-child(1) .index-main-partner {
  background-position: -209px -136px;
  height: 37px;
  width: 198px;
    margin: 63px 10px;
}

.index-main-partners a:nth-child(1) .index-main-partner:hover {
  background-position: -0px -176px;
  height: 37px;
  width: 198px;
    margin: 63px 10px;
}
*/

.index-main-partners a:nth-child(3) .index-main-partner, .index-main-partners a:nth-child(2) .index-main-partner, .index-main-partners a:nth-child(1) .index-main-partner {
  display: inline-block;
  background-image: url(../images/partners.png);
  background-repeat: no-repeat;
}

.index-main-partners a:nth-child(3) .index-main-partner {
  background-position: -0px -0px;
  height: 90px;
  width: 209px ;
    margin: 39px 0px;
    opacity: 0.2;
    transition: 0.4s ease;
}

.index-main-partners a:nth-child(3) .index-main-partner:hover {
    opacity: 1;
}

.index-main-partners a:nth-child(2) .index-main-partner {
  background-position: -0px -90px;
  height: 68px;
  width: 199px;
    margin: 48px 120px;
    opacity: 0.2;
    transition: 0.4s ease;
}

.index-main-partners a:nth-child(2) .index-main-partner:hover {
    opacity: 1;
}

.index-main-partners a:nth-child(1) .index-main-partner {
  background-position: -0px -158px;
  height: 37px;
  width: 198px;
     margin: 63px 10px;
    opacity: 0.2;
    transition: 0.4s ease;
}

.index-main-partners a:nth-child(1) .index-main-partner:hover {
    opacity: 1;
}




.social-networks {
    width:240px;
    
}

.social-network {
    float: left;
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #eeeeee;
    margin-right: 30px;
    margin-bottom: 75px;
    font-size:23px;
    color:white;
    text-align: center;
    line-height: 23px;
    
}

footer a:nth-child(3) .social-network {
    margin: 0;
}

.social-networks-friends {
    float: left;
    font-weight: bold;
    padding-left: 80px;
}

.social-networks-heading {
    font-size: 36px;
    line-height: 36px;
/*    text-transform: uppercase;*/
    margin-bottom: 15px;
}

.social-network-discount {
    font-size: 16px;
    line-height: 22px;
}

.icon-instagramm, .icon-facebook, .icon-vk {
    display: block;
    margin-top: 18px;
}

.social-network:hover {
    background-color: #fb565a;
}

.social-network:active {
    background-color: #d6494d;
}

.icon-basket {
    color:#a6a6a6;
}

.catalog-heading {
    font-size: 40px;
    line-height: 48px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 80px;
    text-transform: uppercase;
}

.search-settings {
    width: 240px;
    float: left;
}

.catalog-items {
    width: 570px;
    float: right;
}

.features-choice {
    margin-bottom: 60px;
}

.features-choice-heading {
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 15px;
}

.feature-container {
    position: relative;
    user-select: none;
    font-size:16px;
    font-weight: bold;
    line-height: 20px;
    margin-bottom: 25px;
}

.features-choice input {
    opacity: 0;
    position: absolute;
    text-align: center;
}

.features-choice input:hover+ label::before {
    color: #b5b5b5;
}

.checkbox {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
}

.checkbox::before {
    position: absolute;
    top: -4px;
    left: -8px;
    font-size: 28px;
    color: #c1c1c1;
    cursor: pointer;
}

.features-choice input:checked ~ .checkbox::before {
    content: "\2611";
    left: -6px;
}

.layout-choice-heading {
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 15px;
}

.layout-choice {
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
    margin-bottom: 45px;
}

.layout-choice input {
    position: absolute;
   
    opacity: 0;
}

.layout-choice label {
    cursor: pointer;
    padding-left: 30px;
}

.layout-choice label::before {
    font-size: 28px;
    color: #c1c1c1;
    position: absolute;
    left: -8px;
    top:-4px;
    cursor: pointer;
}

.layout-choice input:hover+label::before {
    color: #b5b5b5;
}

.layout-choice input:checked + .icon-circle::before {
    content: "\25cf";
}

.layout-container {
    position: relative;
    margin: 0;
    padding: 0;
    margin-bottom: 25px;
         user-select: none;

/*
    padding-left: 30px;
    cursor: pointer;
*/
}

.search-submit {
    width: 155px;
    padding: 0;
    margin: 0;
    border: none;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    font-family: Roboto, sans-serif;
    background-color: #f1f1f1;
    cursor: pointer;
        outline: 0;
    font-size: 12px;
    line-height: 18px;

}

.search-submit:hover {
    background-color: #e5e5e5;
        outline: 0;

}

.search-submit:focus {
    border: none;
    outline: 0;
}

.search-submit:active {
    border: none;
        outline: 0;

    border-top: 3px solid #b5b5b5;
    background-color: #e5e5e5;
}

.catalog-items-list {
    width: 570px;
    padding: 0;
}

.catalog-item {
    display: block;
    position: relative;
    padding: 0;
    margin: 0;
    width: 240px;
    height: 270px;
    background-color: #f1f1f1;
    list-style: none;
    float: left;
    margin-right: 80px;
    margin-bottom: 80px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

}

.catalog-item:nth-child(2n) {
    margin-right: 0;
}

.item-background-circles {
    position: absolute;
    top: 10px;
    left:13px;
}

.item-background-circle {
    display: block;
    width: 9px;
    height: 9px;
    background-color: white;
    border-radius: 50%;
    float: left;
    margin-right: 6px;
}

.catalog-item:nth-child(1) .catalog-item-background {
    width: 240px;
    height: 240px;
    position: absolute;
    top: 30px;
    left: 0;
    background-image: url(../images/catalog-item1.jpg);
    z-index: 1;
}

.catalog-item:nth-child(2) .catalog-item-background {
    width: 240px;
    height: 240px;
    position: absolute;
    top: 30px;
    left: 0;
    background-image: url(../images/catalog-item2.jpg);
        z-index: 1;

}

.catalog-item:nth-child(3) .catalog-item-background {
    width: 240px;
    height: 240px;
    position: absolute;
    top: 30px;
    left: 0;
    background-image: url(../images/catalog-item3.jpg);
        z-index: 1;

}

.catalog-item:nth-child(4) .catalog-item-background {
    width: 240px;
    height: 240px;
    position: absolute;
    top: 30px;
    left: 0;
    background-image: url(../images/catalog-item4.jpg);
        z-index: 1;

}

.catalog-item:nth-child(5) .catalog-item-background {
    width: 240px;
    height: 240px;
    position: absolute;
    top: 30px;
    left: 0;
    background-image: url(../images/catalog-item5.jpg);
        z-index: 1;

}

.catalog-item:nth-child(6) .catalog-item-background {
    width: 240px;
    height: 240px;
    position: absolute;
    top: 30px;
    left: 0;
    background-image: url(../images/catalog-item6.jpg);
        z-index: 1;

}

.catalog-item:hover {
    background-color: #797979;
    transition: 0.3s ease;
}

.catalog-item-info {
    width: 200px;
    height: 200px;
    opacity: 0;
    background-color: white;
    position: absolute;
    z-index: 1000;
    left: 20px;
    bottom: 20px;
    font-weight: bold;
    font-family: Roboto, sans-serif;
        transition: 0.3s ease;

}

.catalog-item:hover .catalog-item-info {
    opacity: 1;
    transition: 0.3s ease;
}

.catalog-item-heading {
    text-align: center;
    text-transform: uppercase;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.catalog-item-text {
    text-align: center;
    line-height: 18px;
    font-size: 14px;
    padding: 0 15px;
}

.catalog-item-button {
    font-family: Roboto, sans-serif;
    color: white;
    font-weight: bold;
    text-transform: capitalize;
    background-color: #fb565a;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    width: 140px;
    position: absolute;
    left: 30px;
    bottom: 30px;
    text-align: center;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 12px;
    line-height: 18px;
}

.catalog-item-button:hover {
    background-color: #d6494d;
}

.catalog-item-button:active {
    background-color: #b63538;
    border-top: 2px solid #9b2d30;
}

.items-sort {
    width: 570px;
    margin-bottom: 25px;
    position: relative;
}

.sort-buttons {
    text-transform: uppercase;
    border: 0;
    padding: 0;
    background-color: white;
    margin: 0;
    outline: 0;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    opacity: 0.3;
    font-size: 12px;
    line-height: 18px;
    border-bottom: 1px dotted #00ca74;
    cursor: pointer;
    float: left;
    margin-left: 40px;

}

.sort-buttons:hover {
    opacity: 1;
    border-bottom: 1px solid #00ca74;
}

.sort-buttons:active {
    opacity: 1;
    border: none;
}

.items-sort-heading {
    float: left;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 18px;
}

button.icon-up-dir, button.icon-down-dir {
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
/*    float: right;*/
    background-color: white;
    cursor: pointer;
    font-size: 23px;
    color: #c1c1c1;
    position: absolute;
    
}

button.icon-up-dir:hover, button.icon-down-dir:hover {
    color: #b5b5b5;
}

button.icon-up-dir {
    top: -3px;
    right: 0;
}

button.icon-down-dir {
    top: -3px;
    right: 23px;
}


button.icon-up-dir:active, button.icon-down-dir:active {
    color: black;
}

.sort-updown-active {
    color: #00ca74 !important;
}

.page-button {
    width: 38px;
    border: 0;
    padding: 0;
    margin: 0;
    outline: 0;
    float: left;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    background-color: #f1f1f1;
    color: black;
    margin-right: 10px;
    cursor: pointer;
    box-sizing: border-box;
    font-size: 12px;
    line-height: 18px;
}

.page-button:hover {
    background-color: #e5e5e5;
}

.page-button:active {
    background-color: #d5d5d5;
    border-top: 2px solid #b5b5b5;
}

.next-page-button {
    border: 0;
    outline: 0;
    padding: 0;
    margin: 0;
    width: 140px;
    background-color: #f1f1f1;
    color: black;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 12px;
    line-height: 18px;
}

.next-page-button:hover {
    background-color: #e5e5e5;
}

.next-page-button:active {
    background-color: #d5d5d5;
    border-top: 2px solid #b5b5b5;
}

.page-button-active {
    background-color: white;
    border: 2px solid #f1f1f1;
}

.page-button-active:hover{
    background-color: white;
    border: 2px solid #f1f1f1;
}

.page-button-active:active {
    background-color: white;
    border: 2px solid #f1f1f1;
}

.catalog main {
    margin-bottom: 80px;
}



.index-main-map {
    margin-bottom: 75px;
    height: 415px;
    min-width: 920px;
    position: relative;
    font-family: Roboto, sans-serif;
    font-weight: bold;
}

#YMapsID {
    height: 415px;
    min-width: 920px;
    position: relative;
    z-index: 1;
}

.index-main-map .index-container {
    position: relative;
}

.map-contacts {
    width: 250px;
    height: 240px;
    position: absolute;
    left: 0px;
    top: 90px;
    z-index: 1000;
    background-color: white;
    box-sizing: border-box;
    
}

.map-contacts-heading {
    font-size: 16px;
    line-height: 30px;
    text-transform: uppercase;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 10px;
    margin-top: 23px;
}

.map-contacts-address, .map-contacts-number {
    font-size: 16px;
    line-height: 20px;
    color: #666666;
    padding-left: 20px;    
    padding-right: 20px;

}

.map-contacts-address {
    margin-bottom: 20px;
    
}

.map-contacts-number {
    margin-bottom: 30px;
}

.map-contacts-button {
    padding: 0;
    outline: 0;
    border: 0;
    width: 200px;
    margin-left: 20px;
    background-color: #fb565a;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 18px;
    cursor: pointer;
    box-sizing: border-box;
    
}

.map-contacts-button:hover {
    background-color: #d6494d;
}

.map-contacts-button:active {
    background-color: #b63538;
    border-top: 2px solid #9b2d30;
}

.write-us-block {
    background-color: white;
    width: 630px;
    height: 415px;
    position: fixed;
    top: 15%;
    left: 50%;
    margin-left: -315px;
    z-index: 10000;
    box-shadow: 0 5px 10px 5px rgba(0,0,0,0.4);
    display: none;
}

.write-us-close {
    width: 40px;
    height: 40px;
    display: block;
    background-color: #fb565a;
    border-radius: 50%;
    position: absolute;
    right: 4px;
    top: 4px;
    top: 8px;
    cursor: pointer;
}

.write-us-close::before, .write-us-close::after {
    height: 5px;
    width: 25px;
    background-color: white;
    position: absolute;
    display: block;
    content: "";
}

.write-us-close::before {
    transform: rotate(45deg);
    top: 17.5px;
    left: 7px;
}

.write-us-close::after {
    transform: rotate(-45deg);
    top: 17.5px;
    left: 7px;
}

.write-us-close:hover {
    background-color: #d6494d;
}

.write-us-close:active {
    background-color: #b63538;
}

.write-us-contacts {
    margin-top: 40px;
    margin-bottom: 25px;
}

.write-us-your-name, .write-us-your-email {
    float: left;
    
}

.write-us-your-name input, .write-us-your-email input, .write-us-your-text textarea {
    box-sizing: border-box;
    border: 2px solid #d7dcde;
    border-radius: 3px;
    outline: 0;
    padding: 0;
    margin: 0;
    font-size: 12px;
    line-height: 18px;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
}

.write-us-your-name input:hover, .write-us-your-email input:hover, .write-us-your-text textarea:hover {
    border-color: #a2a9ac;
}

.write-us-your-name input:focus, .write-us-your-email input:focus, .write-us-your-text textarea:focus {
    border-color: #56bffb;
}

.write-us-your-name input, .write-us-your-email input {
    height: 38px;
    width: 220px;
}

.write-us-your-text textarea {
    width: 460px;
    height: 115px;
    padding-top: 5px;
    resize: none;
}


.write-us-your-name {
    
    outline: 0;
    border: 0;
    margin-left: 80px;
    margin-right: 20px;
    
}

.write-us-block-button {
    box-sizing: border-box;
    width: 460px;
    border: 0;
    padding: 0;
    outline: 0;
    margin: 0;
    margin-left: 80px;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 18px;
    background-color: #fb565a;
}

.write-us-block-button:hover {
    background-color: #d6494d;
}

.write-us-block-button:active {
    background-color: #b63538;
    border-top: 2px solid #9b2d30;
}

.write-us-your-text {
    margin-left: 80px;
    margin-bottom: 45px;
}

.write-us-heading {
    font-size: 16px;
    line-height: 18px;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    margin-bottom: 10px;
}

.write-us-your-name input::-webkit-input-placeholder, .write-us-your-email input::-webkit-input-placeholder, .write-us-your-text textarea::-webkit-input-placeholder {
    color: black;
    text-transform: uppercase;
}

.write-us-your-name input::-moz-placeholder, .write-us-your-email input::-moz-placeholder, .write-us-your-text textarea::-moz-placeholder {
    color:black;
    text-transform: uppercase;
}

.write-us-your-name input::placeholder, .write-us-your-email input::placeholder, .write-us-your-text textarea::placeholder {
    color:black;
    text-transform: uppercase;
}


